<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Servlet API Lab</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/request-counter-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RqCounter</servlet-name>
        <servlet-class>cz.profinit.training.springadvanced.servletapi.RequestCounterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RqCounter</servlet-name>
        <url-pattern>/RqCounter</url-pattern>
    </servlet-mapping>

</web-app>
